@model CrudBaltaIo.Entities.Assinatura

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Assinatura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdAluno" class="control-label"></label>
                <input asp-for="IdAluno" class="form-control" />
                <span asp-validation-for="IdAluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCriacao" class="control-label"></label>
                <input asp-for="DataCriacao" class="form-control" />
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inicio" class="control-label"></label>
                <input asp-for="Inicio" class="form-control" />
                <span asp-validation-for="Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Termino" class="control-label"></label>
                <input asp-for="Termino" class="form-control" />
                <span asp-validation-for="Termino" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Expirada" /> @Html.DisplayNameFor(model => model.Expirada)
                </label>
            </div>*@
            <p></p>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" /> 
                <a class="btn btn-primary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
